.super-mario {
  /* border: 3px solid red; */
  width: 200px;
  position: absolute;
  left: 100px;
  top: 100px;
}

.goomba {
  width: 100px;
  /* border: 3px solid green; */
  position: absolute;
  left: 150px;
  top: 400px;
}
.baloon {
  position: absolute;
  top: 250px;
  left: 600px;
  width: 200px;
}

.speach {
  font-size: 15px;
  position: absolute;
  top: 280px;
  left: 620px;
  z-index: 2;
}

.bowser {
  width: 400px;
  /* border: 3px solid blue; */
  position: absolute;
  left: 800px;
  top: 230px;

}